:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --link-text-color: #ffffff;
    --bgr-section-color: #f5f4fa;
}
html {
    box-sizing: border-box;
}
input {
    font-family: inherit;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body,
.backdrop {
    background-color: var(--link-text-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
}
.list,
.footer-mail,
p {
    padding: 0;
    margin: 0;
    list-style: none;
}
img {
    display: block;
}

.button,
.modal-form-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero button,
.modal-form-btn {
    display: block;
    margin: 0 auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    padding: 10px 32px 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}
.button.primary,
.hero-button,
.button:hover,
.button:focus,
.container-button-item .button:hover,
.container-button-item .button:focus {
    color: var(--link-text-color);
    background-color: var(--accent-color);
}

/*Секция формы в футере*/
input {
    font-family: inherit;
}
.div-text-footer-write {
    position: relative;
    display: flex;
    height: 86px;
    margin-top: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
}
.div-text-footer-write .hero-button {
    width: 195px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    padding: 10px 20px;
    background-image: url('../images/svg/iconsend.svg');
    background-repeat: no-repeat;
    background-position: center right 7px;
    background-size: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.footer-mail {
    max-width: 358px;
    margin: 0;
    padding: 15px;
    padding-left: 16px;
    margin-right: 12px;
    background-color: #2f303a;
    border-color: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail:focus,
.footer-mail:hover {
    border-color: var(--accent-color);
    color: var(--link-text-color);
    cursor: pointer;
}
.footer-mail:not(:placeholder-shown) .contact-form-label {
    color: var(--primary-text-color);
    border-color: var(--accent-color);
}

.contact-form-label {
    position: absolute;
    left: 15px;
    top: 15px;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.3);
}
.container .portfolio,
.container .osob-container,
.container .job-container,
.container .bgr-comand,
.container .container-sosial,
.container .container-clients,
.container .container-portfolio,
.portfolio-position-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/*   modal windows
*/

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
}
.modal-form {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    padding: 39px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-form-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: start;
    color: var(--title-text-color);
}
.modal-form-input-wrapper {
    position: relative;
    margin-bottom: 30px;
}
.modal-form-input {
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    padding-left: 46px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: #757575;
    background-color: #ffffff;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
}
.modal-form-label {
    position: absolute;
    top: 50%;
    left: 46px;
    transform: translateY(-50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) opacity 250ms
        cubic-beziercubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}
.icon-modal {
    position: absolute;
    overflow: visible;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: var(--title-text-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) opacity 250ms
        cubic-beziercubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-label,
.modal-form-input:not(:placeholder-shown) + .modal-form-label {
    color: var(--accent-color);
}
.modal-form-input:hover ~ .icon-modal,
.modal-form-input:focus ~ .icon-modal,
.modal-form-input:not(:placeholder-shown) ~ .icon-modal {
    fill: var(--accent-color);
}
.modal-form-message {
    position: relative;
    display: block;
    width: 100%;
    height: 120px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
    padding: 12px 16px;
    color: #757575;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: 1px solid rgba(157, 164, 189, 0.4);
}
.modal-massange-label {
    position: absolute;
    top: 15px;
    left: 16px;
    transform: translateY(-50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) opacity 250ms
        cubic-beziercubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}
.modal-form-input:hover,
.modal-form-message:hover {
    border-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}
.modal-form-input:focus,
.modal-form-message:focus,
.modal-form-input:not(:placeholder-shown),
.modal-form-message:not(:placeholder-shown) {
    outline: none;
    border-color: var(--accent-color);
    cursor: pointer;
}
.modal-form-message:focus + .modal-massange-label,
.modal-form-input:focus + .modal-form-label,
.modal-form-input:not(:placeholder-shown) + .modal-form-label,
.modal-form-message:not(:placeholder-shown) + .modal-massange-label {
    transform: translate(-16px, -40px);
    color: var(--accent-color);
}

.modal-form-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.modal-form-option-label {
    display: flex;
    width: 425px;
    padding-left: 11px;
    align-items: center;
    margin-bottom: 30px;
}
.modal-form-custom-checkbox {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background-color: #ffffff;
    border: 1px solid #000;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.modal-form-checkbox:checked + .modal-form-custom-checkbox {
    border-color: transparent;
    background-color: var(--accent-color);
    background-image: url(../images/svg/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
}
.modal-form-option-span {
    line-height: 1.7;
}
.modal-form-option-span a {
    color: var(--accent-color);
}
.modal-form .modal-form-btn {
    max-width: 200px;
    background-color: var(--accent-color);
    border-color: transparent;
    color: #ffffff;
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: transparent;
    background-image: url(../images/svg/close-modal.svg);
    background-size: contain;
    background-origin: border-box;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
    background-image: url(../images/svg/close.svg);
    background-size: contain;
    background-origin: border-box;
}
